<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green darken-3" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="/">Biuro Podróży</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        </li> -->
      <li class="nav-item">
        <a routerLink="/" class="nav-link waves-light" mdbWavesEffect>Wycieczki</a>
      </li>
      <li [hidden]="!authorizationService.isLoggedInAdmin()" class="nav-item" routerLink="/addNewTour">
        <a routerLink="/addNewTour" class="nav-link waves-light" mdbWavesEffect>Dodaj nową wycieczkę</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#page-footer" mdbWavesEffect>Kontakt</a>
      </li>


    </ul>
    <!-- Links -->

    <!-- Links -->
    <ul class="navbar-nav ml-auto">

      <li [hidden]="authorizationService.isLoggedIn()" class="nav-item active">
        <a routerLink="/register" class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="envelope"></mdb-icon>Rejestracja
        </a>
      </li>
      <li [hidden]="authorizationService.isLoggedIn()" class="nav-item">
        <a routerLink="/login" class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="cog"></mdb-icon>Logowanie
        </a>
      </li>
      <li [hidden]="!authorizationService.isLoggedIn()" class="nav-item">
        <a (click)="authorizationService.logOut()" class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="sign-out-alt"></mdb-icon>Wyloguj
        </a>
      </li>

      <!-- Dropdown -->
      <li [hidden]="!authorizationService.isLoggedInUser()" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Twój Profil<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" routerLink="/myaccount" mdbWavesEffect>Konto</a>
        </div>
      </li>
      <li class="nav-item">
        <app-shopping-cart [hidden]="!authorizationService.isLoggedInUser()"></app-shopping-cart>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->