 <!--Intro Section-->
 <section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height w-100">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="col-md-6 text-center text-md-left mb-5">
              <div class="white-text">
                <h2 class="h1 h1-responsive font-bold wow fadeInLeft text-center" data-wow-delay="0.3s">Nie masz konta? Zarejestruj się! </h2>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Z kontem łatwy sposób na zapisanie twoich podróży, wszytko w jednym miejscu.</h6>
                <br>
                <a routerLink="/register"  mdbBtn  color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                  mdbWavesEffect>Zarejestruj się</a>
              </div>
            </div>

            <div class="col-md-6 col-xl-5 offset-xl-1">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body>
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="white-text">
                      <mdb-icon fas icon="user" class="text-white"></mdb-icon> Logowanie:</h3>
                    <hr class="hr-light">
                  </div>
                  <!--Body-->
                 <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="md-form" >
                    <mdb-icon fas icon="envelope" class="text-white active"></mdb-icon>
                    <input type="email" formControlName="email" id="login-email" class="text-white form-control" mdbInput>
                    <label for="login-email" class="text-white">Email</label>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="lock" class="text-white active"></mdb-icon>
                    <input type="password" formControlName="password" id="login-password" class="text-white form-control" mdbInput>
                    <label for="login-password" class="text-white">Hasło</label>
                  </div>
                  <div class="text-center mt-4">
                    <button mdbBtn color="green" type="submit" mdbWavesEffect>Zaloguj się</button>
                    <hr class="hr-light mb-3 mt-4">
                    <div class="inline-ul text-center d-flex justify-content-center">
                      <a class="p-2 m-2 tw-ic">
                        <mdb-icon fab icon="twitter" class="text-white"></mdb-icon>
                      </a>
                      <a class="p-2 m-2 li-ic">
                        <mdb-icon fab icon="linkedin-in" class="text-white"></mdb-icon>
                      </a>
                      <a class="p-2 m-2 ins-ic">
                        <mdb-icon fab icon="instagram" class="text-white"></mdb-icon>
                      </a>
                    </div>
                  </div>
                </form>
                </mdb-card-body>
              </mdb-card>
              <!--/.Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>