.intro-header {
    height: unset !important;
  }
  .intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg")no-repeat center center;
    background-size: cover;
  }
  .view {
    height: 100vh !important;
  }
  .top-nav-collapse {
    background-color: #3f51b5 !important;
  }
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }
  .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
  }
  .full-bg-img {
    height: 100%;
  }
  .card {
    background-color: rgba(229, 228, 255, 0.2);
  }
  
  .md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .md-form label {
    color: #ffffff;
  }
  h6 {
    line-height: 1.7;
  }
  @media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 1040px;
    }
  }