<!--Section: Comments-->
<section class="my-3">

    <!-- Card header -->
    <div class="card-header border-0 font-weight-bold">Komentarze</div>
    <div class="media d-block d-md-flex mt-4"   *ngFor="let item of comments"  >
        <img class="card-img-64 d-flex mx-auto mb-2" src="https://image.shutterstock.com/image-vector/profile-icon-vector-logo-template-260nw-1412217830.jpg"
        alt="Generic placeholder image">
      <div class="media-body text-center text-md-left ml-md-3 ml-0">
        <h5 class="font-weight-bold mt-0">
          <a href="">{{item.name}}</a>
        </h5>
{{item.comment}}
      </div>
    </div>
    
  
    <div class="media-body text-center text-md-left ml-md-3 ml-0">
    <div class="form-group mt-4">
        <form  [formGroup]="commentForm" (ngSubmit)="addComment()">
        <label for="quickReplyFormComment">Twój komentarz</label>
        <textarea class="form-control" id="newComment" formControlName="newComment" rows="2"  placeholder="Twój komentarz" ></textarea>
        <div class="text-center my-4">
          <button class="btn btn-primary btn-sm" type="submit">Dodaj</button>
        </div>
        </form>
      </div>
    </div>
  </section>
  <!--Section: Comments-->