<app-filters (notify)="handleCityChoice($event)"></app-filters>
<section class="p-3">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of tours | paginate: { itemsPerPage: 3, currentPage: p }">
            <app-tour (notifyAddToCart)='handleAddToCart($event)' (notify)='delete($event)' [tour]="item" [max]="max" [min]="min"></app-tour>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="p-3">
        <div class="pagination pg-blue justify-content-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </nav>
</section>


