<a  data-toggle="modal" class="nav-link waves-light" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect><mdb-icon fas icon="shopping-cart"></mdb-icon>Koszyk</a>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Twój koszyk</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Wycieczka</th>
              <th>Cena</th>
              <th>Usuń</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <th scope="row">1</th>
              <td>is</td>
              <td>100$</td>
              <td>
                <a>
                  <mdb-icon fas icon="times"></mdb-icon>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">Zamknij</button>
        <button mdbBtn color="primary" class="waves-light" (click)="frame.hide()" mdbWavesEffect>Do Kasy</button>
      </div>
    </div>
  </div>
</div>