<div class="filter-box">
  <div class="card">
    <div class="card-header">
        <h3 class="h3">Znajdź podróż marzeń!</h3> 
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col">
          <div id="priceFilter">
            Cena
            <app-price-filter (notify)="handlePriceRange($event)"></app-price-filter>
          </div>
        </div>
        <div class="col">
          Ocena
          <app-mark-filter (notify)="handleMarkRange($event)"> </app-mark-filter>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Miasto

          <div class="md-form form-group">
            <!-- <select class="browser-default custom-select">
              <option value="city" > -->
                <app-tour-country-filter (notify)="handleCityChoice($event)" *ngFor="let city of cities" [city]="city">
                </app-tour-country-filter>
              <!-- </option>
            </select> -->
          </div>

        </div>
        <div class="col">
          <!-- <div id="dateFilter">
            Data
            <app-date-filter (notify)="handleDateRange($event)"></app-date-filter>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-2">
        <button type="button" class="btn btn-warning"(click)="resetFilters()" >Reset</button>

      </div>
    </div>
  </div>
</div>