<form>
  <div class="md-form form-group" (change)="sendMark()">
    <div class="row">
      <div class="col">
        <input class="form-control" [(ngModel)]="markFrom" type="number" id="from" min="0" max="5" name="od"
          placeholder="Od">
      </div>
      <div class="col">
        <input class="form-control" [(ngModel)]="markTo" type="number" id="to" min="0" max="5" name="do"
          placeholder="Do">
      </div>
    </div>
  </div>
</form>