<!-- Card -->
<mdb-card [ngStyle]="{'border-width': tour.price===max ?'5px':'',
    'border-style': tour.price===max ?'solid':'','border-color':tour.price===max ? 'red' : '' }"
    >
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="{{tour.imageSrc}}" alt="Card image cap">
        </mdb-card-img>
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
            <div class="text-center">
                <h4>{{tour.countryName | uppercase}}, {{tour.cityName | uppercase}}</h4>
            </div>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
            <div class="text-center">
                {{tour.description}}
            </div>
            <!-- <div class="text-center">
                Ocena :
            </div> -->
            <div class="text-center">
                <ngb-rating max=5 class="star"  (click)=handleChangeRate(tour) ([rate])=selected rate={{tour.starCapacity}}></ngb-rating>
    
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p>Ilosc miejsc {{tour.numberSeats}}</p>
                    <p>Ilosc miejsc zarezeerwowanych  {{tour.numberReservedSeats}}</p>
                    {{messageReserved}}
                    <a [hidden]="!authorizationService.isLoggedInUser()" class="nav-link waves-light" (click)="handleAddToCart()" mdbWavesEffect>
                        <mdb-icon fas icon="shopping-cart fa-2x" style="color: #20c997;" data-toggle="tooltip" data-placement="top"
                        *ngIf="show" 
            ngbPopover="Rezerwuj, klikając przycisk!"
                            title="Dodaj do koszyka"></mdb-icon>
                    </a>
              
                    <app-edit-tour (notifyEditTour)='editTour($event)' [tour]="tour"> </app-edit-tour>
                    <a class="nav-link waves-light" (click)="delete()" style="color: #c95520;" [hidden]="!authorizationService.isLoggedInAdmin()" mdbWavesEffect>
                        <mdb-icon fas icon="trash-alt fa-2x" data-toggle="tooltip" data-placement="top" title="Usuń">
                        </mdb-icon>
                    </a>
                </div>
                <div class="col">
                    <div class="text-align-right" style="text-align: right; color: red;">
                        <b> {{tour.price| currency:'PLN '}}</b>
                    </div>
                </div>
            </div>
        </mdb-card-text>
        <app-modal-info [tour]="tour"></app-modal-info>
    </mdb-card-body>
</mdb-card>
<!-- Card -->