.star {
    font-size: 2.5rem;
    color: rgba(255, 255, 0, 0.897);
  }
  .max-price-border{
    border-width: 10px;
    border-style:solid;
    border-color: red;
    
  
  }
  .min-price-border{
    border-width: 4px;
    border-style:solid;
    border-color: green;
  
  }