
<!-- Card -->
<div class="card">

    
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a> Konto - Zamówione wycieczki </a></h4>
      <!-- Text -->
      <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Zamówienie</th>
                    <th>Data zamowienia</th>
                    <th>Ilosc wycieczek</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <th scope="row">{{order._id}}</th>
                    <th></th>
                    <td>{{order.date}}</td>
                    <td>{{order.orderedToursIds.length}} </td>
                    
                </tr>
                
            </tbody>
        </table>          <!-- Button -->
<!--Modal: modalCookie-->
<div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" data-backdrop="true">
<div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
<!--Content-->
<div class="modal-content">
  <!--Body-->
  <div class="modal-body">
    <div class="row d-flex justify-content-center align-items-center">

      <p class="pt-3 pr-2">We use cookies to improve your website experience</p>

      <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Ok</a>
    </div>
  </div>
</div>
<!--/.Content-->
</div>
</div>
<!--Modal: modalCookie-->
  
    </div>
  
  </div>
  <!-- Card -->
  <!-- Button trigger modal-->


