
<!-- Card -->
<div class="card">

    
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title"><a> Potwierdź rezerwacje (rezerwacja po tym potwierdzeniu będzie już zamowieniem)</a></h4>
          <!-- Text -->
          <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Wycieczka</th>
                        <th>Cena</th>
                        <th>Ilość rezerwowanych miejsc</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tour of getToursInCart()">
                        <th scope="row">{{tour.index}}</th>
                        <td>{{tour.cityName}}, {{tour.countryName}}</td>
                        <td>{{tour.price}} </td>
                        <td></td>
                        <td>
                            <a type="button"  (click)="removeTour(tour)">
                                <mdb-icon fas icon="times"></mdb-icon>
                            </a>
                        </td>
                    </tr>
                    <tr style="color: red;">
                        <td><b>Suma</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>{{sumPrices}}</b>
                        </td>
                    </tr>
                </tbody>
            </table>          <!-- Button -->
          <button type="button" class="btn btn-primary" (click)="addToursToOrder()" routerLink="/" data-toggle="modal" data-target="#modalCookie1">Potwierdź zamówienie</button>
<!--Modal: modalCookie-->
<div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2">We use cookies to improve your website experience</p>

          <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Ok</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalCookie-->
      
        </div>
      
      </div>
      <!-- Card -->
      <!-- Button trigger modal-->


