<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
(click)="frame.show()" mdbWavesEffect>Dowiedz się więcej</button>
<div style="overflow-y: auto"  mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    
      <div class="modal-dialog  modal-notify modal-info modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading">{{tour.countryName | uppercase}}, {{tour.cityName | uppercase}}
              <strong></strong>
            </p>
    
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>
    
          <!--Body-->
          <div class="modal-body">
    
            <div class="row">
              <div class="col-3">
                <p></p>
                <p class="text-center">
                  <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                  </mdb-card-img>

                </p>
              </div>
    
              <div class="col-9">
                <p> {{tour.description}}
                </p>
                <p>
                  <strong>{{tour.price| currency:'PLN '}}
                  </strong>
                </p>
             
    
              </div>
            </div>
          </div>

          <app-comment [tour]="tour" ></app-comment> 

          <div class="modal-footer flex-center">
            <a mdbBtn color="danger" class="waves-effect"
              mdbWavesEffect>Zaraezerwuj teraz
              <mdb-icon far icon="gem" class="ml-1"></mdb-icon>
            </a>
            <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal"
              (click)="frame.hide()">Nie, dziękuję</a>
          </div>
          <!--Footer-->
         
        </div>
        <!--/.Content-->
      </div>
    
    </div>
