<form>
    <div class="md-form form-group" (change)="sendPrice()">
        <div class="row">
            <div class="col">
      <input class="form-control"  [(ngModel)]="priceFrom" type="number" id="from" min="0" name="od" placeholder="Od">
      </div>
      <div class="col">
      <input class="form-control"  [(ngModel)]="priceTo" type="number" id="to" min="0" name="do" placeholder="Do">
    </div>

  </div>

    </div>
  </form>