<!-- Default form contact -->
<div class="row d-flex justify-content-center p-2">
    <div class="col-md-6">


        <form [formGroup]="tripForm" (ngSubmit)="addNewTour()">
            <p class="h4 mb-4">Dodaj nową wycieczkę</p>
            <input type="text" formControlName="imageSrc" id="imageSrc" class="form-control mb-4"
                placeholder="Źródło danych">
            <input type="text" formControlName="cityName" id="cityName" class="form-control mb-4" placeholder="Miasto">
            <input type="text" formControlName="countryName" id="countryName" class="form-control mb-4"
                placeholder="Państwo">
            <input type="text" formControlName="hotelName" id="hotelName" class="form-control mb-4" placeholder="Hotel">
            <input type="number" formControlName="price" id="price" class="form-control mb-4" placeholder="Cena">
            <input type="date" formControlName="startDate" id="startDate" class="form-control mb-4"
                placeholder="Data rozpoczęcia">
            <input type="date" formControlName="endDate" id="endDate" class="form-control mb-4"
                placeholder="Data zakończenia">
            <input type="number" formControlName="numberSeats" id="numberSeats" class="form-control mb-4"
                placeholder="Miejsca">
            <textarea class="form-control rounded-0" id="description" formControlName="description" rows="3"
                placeholder="Opis"></textarea>


            <!-- Send button -->
            <button mdbBtn color="info" type="submit">Dodaj</button>
        </form>

    </div>
</div>
<!-- Default form contact -->