<form>
    <div class="md-form form-group" (change)="sendDate()">
        <div class="row">
            <div class="col">

                <input class="form-control" [(ngModel)]="dateFrom" type="date" id="from" name="od" placeholder="Od">
            </div>

            <div class="col">

                <input class="form-control" [(ngModel)]="dateTo" type="date" id="to" name="do" placeholder="Do">
            </div>
        </div>
    </div>
</form>