<a class="nav-link waves-light" style="color: #a80773;" [hidden]="!authorizationService.isLoggedInAdmin()"
    data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
    <mdb-icon fas icon="edit fa-2x" data-toggle="tooltip" data-placement="top" title="Edytuj">
    </mdb-icon>
</a>
<div style="overflow-y: auto" mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: true}">

    <div class="modal-dialog  modal-notify modal-info modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <div class="row d-flex justify-content-center p-2">
                <div class="col-md-6">


                    <form [formGroup]="tripForm" (ngSubmit)="editTour()">
                        <p class="h4 mb-4">Edytuj instniejącą wycieczkę</p>
                        <input type="text" [ngModel]="tour.imageSrc" formControlName="imageSrc" id="imageSrc"
                            class="form-control mb-4" placeholder="Źródło danych">
                        <input type="text" [ngModel]="tour.cityName" formControlName="cityName" id="cityName"
                            class="form-control mb-4" placeholder="Miasto">
                        <input type="text" [ngModel]="tour.countryName" formControlName="countryName" id="countryName"
                            class="form-control mb-4" placeholder="Państwo">
                        <input type="text" [ngModel]="tour.hotelName" formControlName="hotelName" id="hotelName"
                            class="form-control mb-4" placeholder="Hotel">
                        <input type="number" [ngModel]="tour.price" formControlName="price" id="price"
                            class="form-control mb-4" placeholder="Cena">
                        <input type="date" [ngModel]="tour.startDate" formControlName="startDate" id="startDate"
                            class="form-control mb-4" placeholder="Data rozpoczęcia">
                        <input type="date" [ngModel]="tour.endDate" formControlName="endDate" id="endDate"
                            class="form-control mb-4" placeholder="Data zakończenia">
                        <input type="number" [ngModel]="tour.numberSeats" formControlName="numberSeats" id="numberSeats"
                            class="form-control mb-4" placeholder="Miejsca">
                        <textarea class="form-control rounded-0" id="description" [ngModel]="tour.description"
                            formControlName="description" rows="3" placeholder="Opis"></textarea>


                        <div class="modal-footer flex-center">
                            <button mdbBtn color="info" type="submit" (click)="frame.hide()"
                                data-dismiss="modal">zapisz</button>

                            <button mdbBtn color="danger" (click)="frame.hide()" data-dismiss="modal">zapisz</button>

                        </div>
                    </form>

                </div>
            </div>

        </div>
        <!--/.Content-->
    </div>

</div>